<!-- Blog Entries Column -->
<div class="col-md-8" >

  <h3>联系方式</h3>
  <p><i class="fa fa-phone"></i>
    <abbr title="Phone">P</abbr>: 135****5936</p>
  <p><i class="fa fa-envelope-o"></i>
    <abbr title="Email">E</abbr>: <a href="645054538@qq.com">645054538@qq.com</a> / <a href="zxyheyen@gmail.com">zxyheyen@gmail.com</a>
  </p>
  <p><i class="fa fa-clock-o"></i>
    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 6:00 PM</p>
  <ul class="list-unstyled list-inline list-social-icons">
    <li>
      <a href="#"data-toggle="modal"><i class="fa fa-wechat fa-2x"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-qq fa-2x"></i></a>
    </li>
  </ul>

</div>










