

<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-8" id="blogs">
  <%= render partial: 'blogs/content' %>

  </div>

  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">
    <%= render partial: 'common/nav_right' %>
  </div>

</div>