<div class="panel-group col-md-10" id="accordion" >
  <%= markdown '#### 高三（11班）10周年年纪念同学聚会活动方案


时光飞逝、岁月如歌，还记得你我十三年前初见时稚嫩的面庞吗？还记得十年前分别时曾经的豪言壮语和不舍的泪水吗？还记得我们在千禧年里分别时的那个约定吗？


2006-2016，这十年你经历了哪些故事；你上铺的兄弟、姐妹变成了什么样子；你们宿舍的老大孩子多大了；那个曾经出现在你梦中的她（他）会不会还是那么迷人……


相逢是首歌、相聚是杯酒。同学们，来到你曾经生活、学习的地方，见见已经身为他人妻子、老公、母亲、父亲的兄弟姐妹吧！不要说什么世道艰辛、工作繁忙，抛开烦人的大事小情，暂缓一下升迁、赚钱的步履，找回那个曾经青春洋溢、无忧无虑的你。

来吧！讲讲你十年来的酸甜苦辣，听听我十年里的悲欢离合。


* 聚会宗旨

	恰逢毕业十年，此次活动是分别后举行的第一次大型同学聚会，旨在让同学们面对面的共叙当年友情、分享十年来的人生经历、畅谈今后的美好未来。通过会议、聚餐、活动的形式凝聚同学们的情感。

* 活动计划


	* 聚会时间：2017年1月26日（上午10点开始报到）

	* 聚会地点：待定 九九湾?新干宾馆？

	* 活动内容：同学见面座谈会、合影、回访校园、聚餐、自由组合的小范围活动


* 活动费用

	每位参会人员（包括所携带家属，不足1.2米儿童免费）交纳会务费用人民币200元，主要用于：

	* 聚会场地租金、聚餐、晚会KTV酒水及包间费；

	* 制作聚会纪念册、光盘及邮寄费用；

	* 其他费用。多退少补。

	费用原则：AA制原则；财务透明公开原则；环保、反对浪费原则；多退少补原则。


	注：上述费用不包括各位往来交通和住宿的费用，请各位同学做好资金计划安排。



* 活动安排


	* 报到：

		* 2016年1月26日上午10点开始报到，报到地点：待定

		* 统一交纳会务费人民币200元给到班长。财务公开，多退少补。

		* 大家先预先报名给张学元同学，报名模式：名字+电话号码


	* 具体活动日程


		* 26日上午10点到达的同学安排就餐

			* 视到达人数情况而定：如大家到达时间不一致且不能集中在种服前，则不考虑大型聚餐

			* 建议先到达的同学回味新干炒粉、瓦罐汤，饭后活动自行安排；

			* 如果在晚饭前大多数参会同学都到达了，可考虑安排统一的欢迎活动和就餐。



  		* 下午2点安排大家统一参观母校，回味曾今的校园生活及美好回忆，随后自由结队进入校园内故地重游、留念（建议自带摄像机、照相机），在约定时间重新集结统一出发前往餐厅聚餐。


    	* 下午5点到饭店包厢集合，开始同学聚会正式聚餐。聚餐流程暂定为：

			* 班长宣布会议开始，邀请参会的老师讲话（拟邀请老师：宋飞等)

			* 后任班长讲话；每位同学轮流讲话（每位必讲），介绍自己十年来的工作生活发展经历和感受，感情和家庭情况（配偶子女情况），所处的行业和职务等等。期间要填写具体的联络信息等用于制作纪念册。


   		* 晚饭过后兴致未尽的同学一起去KTV进行歌舞大狂欢

' %>
</div>

